<h1>HOME PAGE!!!</h1>

<p>
    <button type="button">
        <a href="/results">Sprawdź Aktualny Kurs Złota</a>
    </button>
</p>
<p>
    <button type="button">
        <a href="/results2">Sprawdź Aktualny Kurs Funta Brytyjskiego</a>
    </button>
</p> 

